:root {
  --radius: 0.5rem;

  /* Credo color palette */
  /* convert colors to oklch @ https://oklch.com */

  /* ------- PRIMARY COLORS ------- */
  --gray-25: oklch(0.9933 0.0011 197.14); /* #FCFDFD */
  --gray-50: oklch(0.9846 0.0017 247.84); /* #F9FAFB */
  --gray-100: oklch(0.9665 0.0045 258.32); /* #F2F4F7 */
  --gray-200: oklch(0.9427 0.0058 264.53); /* #EAECF0 */
  --gray-300: oklch(0.8715 0.0123 259.82); /* #D0D5DD */
  --gray-400: oklch(0.7098 0.0273 261.12); /* #98A2B3 */
  --gray-500: oklch(0.5444 0.035 265.11); /* #667085 */
  --gray-600: oklch(0.4422 0.0355 257.79); /* #475467 */
  --gray-700: oklch(0.3695 0.0381 260.5); /* #344054 */
  --gray-800: oklch(0.2776 0.0341 255.81); /* #1D2939 */
  --gray-900: oklch(0.2099 0.0341 263.44); /* #101828 */
  --primary-25: oklch(0.9604 0.0186 265.98); /* #ECF2FF */
  --primary-50: oklch(0.8967 0.0483 266.02); /* #CEDDFE */
  --primary-100: oklch(0.7947 0.0983 265.67); /* #9EBBFC */
  --primary-200: oklch(0.6975 0.1512 264.08); /* #6D9AFB */
  --primary-300: oklch(0.6056 0.2029 263.18); /* #3D78F9 */
  --primary-400: oklch(0.5622 0.2414 261.24); /* #0765FF */
  --primary-500: oklch(0.4546 0.2168 262.9); /* #0644CC */
  --primary-600: oklch(0.3877 0.1817 262.87); /* #0536A3 */
  --primary-700: oklch(0.3199 0.1434 262.59); /* #04297A */
  --primary-800: oklch(0.2471 0.1054 261.96); /* #021B52 */
  --primary-900: oklch(0.1708 0.06 258.9); /* #010E29 */
  --success-25: oklch(0.9897 0.0107 158.85); /* #F6FEF9 */
  --success-50: oklch(0.9788 0.0221 160.24); /* #ECFDF3 */
  --success-100: oklch(0.9489 0.0556 156.34); /* #D1FADF */
  --success-200: oklch(0.9039 0.1006 157.23); /* #A6F4C5 */
  --success-300: oklch(0.8453 0.1477 157.54); /* #6CE9A6 */
  --success-400: oklch(0.773 0.1754 155.5); /* #32D583 */
  --success-500: oklch(0.6859 0.1667 154.86); /* #12B76A */
  --success-600: oklch(0.597 0.1485 154.46); /* #039855 */
  --success-700: oklch(0.51 0.1218 156.56); /* #027A48 */
  --success-800: oklch(0.4315 0.0995 157.67); /* #05603A */
  --success-900: oklch(0.3781 0.0843 159.06); /* #054F31 */
  --warning-25: oklch(0.9914 0.0098 87.47); /* #FFFCF5 */
  --warning-50: oklch(0.9849 0.0204 91.58); /* #FFFAEB */
  --warning-100: oklch(0.956 0.0552 91.41); /* #FEF0C7 */
  --warning-200: oklch(0.9112 0.1109 90.28); /* #FEDF89 */
  --warning-300: oklch(0.8594 0.1499 84.74); /* #FEC84B */
  --warning-400: oklch(0.8109 0.1634 75.65); /* #FDB022 */
  --warning-500: oklch(0.7469 0.1701 62.11); /* #F79009 */
  --warning-600: oklch(0.6463 0.1695 50.2); /* #DC6803 */
  --warning-700: oklch(0.5394 0.1562 42.99); /* #B54708 */
  --warning-800: oklch(0.4615 0.1337 40.94); /* #93370D */
  --warning-900: oklch(0.4061 0.1142 40.57); /* #7A2E0E */
  --error-25: oklch(0.9909 0.0045 34.31); /* #FFFBFA */
  --error-50: oklch(0.9725 0.0119 23.7); /* #FEF3F2 */
  --error-100: oklch(0.9394 0.0288 22.95); /* #FEE4E2 */
  --error-200: oklch(0.89 0.0559 22.35); /* #FECDCA */
  --error-300: oklch(0.8014 0.1094 24.57); /* #FDA29B */
  --error-400: oklch(0.7086 0.1699 26.47); /* #F97066 */
  --error-500: oklch(0.6371 0.2104 28.54); /* #F04438 */
  --error-600: oklch(0.5758 0.2088 29.48); /* #D92D20 */
  --error-700: oklch(0.5003 0.1821 29.51); /* #B42318 */
  --error-800: oklch(0.4322 0.15 28.99); /* #912018 */
  --error-900: oklch(0.3975 0.1183 31.52); /* #7A271A */

  /* ------- SECONDARY COLORS ------- */
  --bluegray-25: oklch(0.9913 0.0013 286.38); /* #FCFCFD */
  --bluegray-50: oklch(0.9822 0.0041 271.37); /* #F8F9FC */
  --bluegray-100: oklch(0.9442 0.0123 276.09); /* #EAECF5 */
  --bluegray-200: oklch(0.8877 0.025 275.88); /* #D5D9EB */
  --bluegray-300: oklch(0.7804 0.0516 277.7); /* #AFB5D9 */
  --bluegray-400: oklch(0.602 0.0996 276.31); /* #717BBC */
  --bluegray-500: oklch(0.4976 0.1199 273.84); /* #4E5BA6 */
  --bluegray-600: oklch(0.4215 0.1013 274.88); /* #3E4784 */
  --bluegray-700: oklch(0.386 0.0871 274.07); /* #363F72 */
  --bluegray-800: oklch(0.3227 0.0681 274.09); /* #293056 */
  --bluegray-900: oklch(0.1925 0.0327 274.82); /* #101323 */
  --purple-25: oklch(0.9865 0.0066 286.28); /* #FAFAFF */
  --purple-50: oklch(0.9684 0.016 289.93); /* #F4F3FF */
  --purple-100: oklch(0.9418 0.0282 290.22); /* #EBE9FE */
  --purple-200: oklch(0.8912 0.0547 288.67); /* #D9D6FE */
  --purple-300: oklch(0.8041 0.1039 289.42); /* #BDB4FE */
  --purple-400: oklch(0.6977 0.1618 288.38); /* #9B8AFB */
  --purple-500: oklch(0.589 0.2241 286.64); /* #7A5AF8 */
  --purple-600: oklch(0.5228 0.251 286.17); /* #6938EF */
  --purple-700: oklch(0.4714 0.2473 284.71); /* #5925DC */
  --purple-800: oklch(0.4149 0.2149 284.92); /* #4A1FB8 */
  --purple-900: oklch(0.3647 0.1806 286.02); /* #3E1C96 */
  --pink-25: oklch(0.9807 0.0107 339.33); /* #FEF6FB */
  --pink-50: oklch(0.972 0.0157 335.05); /* #FDF2FA */
  --pink-100: oklch(0.9491 0.03 335.85); /* #FCE7F6 */
  --pink-200: oklch(0.9004 0.0661 337.38); /* #FCCEEE */
  --pink-300: oklch(0.8263 0.1206 339.05); /* #FAA7E0 */
  --pink-400: oklch(0.7316 0.19 343.09); /* #F670C7 */
  --pink-500: oklch(0.6707 0.2337 342.29); /* #EE46BC */
  --pink-600: oklch(0.6026 0.2304 351.62); /* #DD2590 */
  --pink-700: oklch(0.5363 0.2104 354.83); /* #C11574 */
  --pink-800: oklch(0.4661 0.1774 354.79); /* #9E165F */
  --pink-900: oklch(0.4151 0.153 354.22); /* #851651 */
  --rose-25: oklch(0.9782 0.0108 10.33); /* #FFF5F6 */
  --rose-50: oklch(0.9697 0.0153 7.48); /* #FFF1F3 */
  --rose-100: oklch(0.9419 0.0301 7.52); /* #FFE4E8 */
  --rose-200: oklch(0.8933 0.0565 5.93); /* #FECDD6 */
  --rose-300: oklch(0.8105 0.1094 7.63); /* #FEA3B4 */
  --rose-400: oklch(0.7216 0.1747 9); /* #FD6F8E */
  --rose-500: oklch(0.6488 0.2194 12.9); /* #F63D68 */
  --rose-600: oklch(0.5908 0.225 13.72); /* #E31B54 */
  --rose-700: oklch(0.5197 0.2009 12.45); /* #C01048 */
  --rose-800: oklch(0.4598 0.1752 9.06); /* #A11043 */
  --rose-900: oklch(0.4136 0.153 6.29); /* #89123E */
  --orange-25: oklch(0.9876 0.0085 67.73); /* #FFFAF5 */
  --orange-50: oklch(0.9777 0.0154 67.65); /* #FFF6ED */
  --orange-100: oklch(0.9484 0.036 67.37); /* #FFEAD5 */
  --orange-200: oklch(0.9104 0.0731 77.43); /* #FDDCAB */
  --orange-300: oklch(0.8229 0.1192 59.71); /* #FEB273 */
  --orange-400: oklch(0.7393 0.1692 49.17); /* #FD853A */
  --orange-500: oklch(0.6889 0.1995 42.49); /* #FB6514 */
  --orange-600: oklch(0.6334 0.2075 37.16); /* #EC4A0A */
  --orange-700: oklch(0.5412 0.1879 34.24); /* #C4320A */
  --orange-800: oklch(0.4617 0.1542 33.77); /* #9C2A10 */
  --orange-900: oklch(0.4001 0.1277 33.85); /* #7E2410 */

  /* ------- NEUTRAL COLORS ------- */
  --white: oklch(1 0 0); /* #FFFFFF */
  --black: oklch(0 0 0); /* #000000 */
}

.dark {
  /* Add dark mode variables here */
}
